/* AppBar.module.css */

.headerContainer {
    position: fixed;
    top: 0;
    left: 50%; /* Встановлюємо лівий край на 50% від ширини екрану */
    transform: translateX(-50%); /* Зміщуємо вліво на половину ширини, щоб центрувати */
    width: 100%;
    z-index: 199;
    background-color: transparent;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.header {
    
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: transparent;
}

.accentColor {
    background-color: var(--accent-color-green);
}

h2 {
    font-family: 'Helvetica-Neue-Bold';
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.iconButton {
    padding: 0;
    background-color: transparent;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
}

.appBar {
    display: none;
}

@media screen and (min-width: 768px) {
    .iconButton,
    .icon {
        display: none;
    }

    .header {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        width: 100%;
        max-width: 1440px;
        

    }
    .headerContainer{
        margin: 0 auto;
        max-width: 1440px;
       
       
    }
}
