.container {
    margin-top: 20px;
    max-width: 100%; /* Встановлюємо максимальну ширину 100% */
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    display: flex;
   
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.avatar {
    width: 54px;
    height: 54px;
    padding: 8px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--pink);
    margin-right: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    width: calc(100% - 54px - 15px); /* Забезпечує, що інформація займає весь простір поруч із аватаром */
}

.name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #11101c;
    margin: 0 0 10px 0;
}

.detailsList {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap; /* Дозволяє переносити елементи на новий рядок */
    width: 100%; /* Займає всю ширину */
}

.list {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: #8a8a89;
    border-radius: 24px;
    padding: 4px 8px;
    background: #f3f3f3;
}

.text {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: rgba(17, 16, 28, 0.5);
    letter-spacing: -0.5px;
}

.spanAge {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #11101c;
    font-size: 8px; 
}

.spanList {
    color: #11101c;
    font-size: 8px;
}

.readMore {
    margin-top: 8px;
    width: 70px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-decoration: underline;
    padding: 0;
    color: #11101c;
    background-color: transparent;
    border: none;
}

.containerName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #11101c;
}

.containerInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.spanPrice {
    color: #38cd3e;
}

.containerInfo li {
    position: relative;
    padding-right: 8px;
    text-align: center; /* Відступ для іконки */
}

.containerInfo li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #11101c;
}

.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 1px;
    
}

.iconButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.favorite {
    fill: red;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%; 
    }

    .avatar {
        width: 96px;
        height: 96px;
        margin-right: 16px;
    }

    .name {
        font-size: 24px;
    }

    .detailsList, .text, .list {
        font-size: 16px;
    }
    
    .readMore {
        font-size: 16px; 
        width: 90px; 
    }
    
    .location {
        font-size: 16px; 
    }
    .spanList{
        font-size: 16px;  
    }
    .spanAge {
        font-size: 16px;
    }
    .containerInfo li {
        
        padding-right: 16px;
        
    }
}

@media screen and (min-width: 1440px) {
    .container {
       max-width: 1184px;
    }
}
