/* .block { */
    /* border-radius: 0 30px 30px 0; */
/*  */
    /* width: 184px; */
    /* height: 84px; */
    /* background-color: var(--primary-color); */
    /* display: flex; */
    /* align-items: center */
/*      */
/* } */
/*  */

.block {
    position: absolute; /* Додаємо абсолютне позиціонування */
    bottom: 50px; /* Розташування внизу */
    right: 12px; /* Розташування зліва */
    border-radius:30px ;
    width: 184px;
    height: 84px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 10px; /* Додаємо трохи внутрішнього відступу для тексту */
}
.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 16, 28, 0.5);
}

.number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #11101c;
}

.buttonBlock {
    border: none;
    border-radius: 13px;
    width: 54px;
    height: 54px;
    background: var(--accent-color-blue);
}